@font-face {
  font-family: "gilroyextrabold";
  src: url("./fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("./fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url("./fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("./fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroylight";
}

body {
  display: flex;
  flex-wrap: nowrap;
}

div.card-container {
  height: 100vh;
  z-index: 1;
  width: 100%;
  min-width: 220px;
  flex-basis: 160px;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

div.card-sidebar_link {
  border-right: 1px solid #eff2f7;
  position: fixed;
  max-width: 220px;
  width: 100%;
  top: 0;
  bottom: 0;
}

div.card-logo {
  padding: 10px 40px;
  margin-top: 35px;
}

div.card-logo img {
  max-width: 100px;
}

div.links {
  padding-top: 3rem;
  padding-right: 20px;
  height: calc(100vh - 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.links ul {
  list-style: none;
}

div.links ul li {
  margin-top: 25px;
}

div.links img,
div.card_heading img {
  margin-right: 20px;
}

div.links ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #979aa5;
  padding: 10px 40px;
}

div.links ul li:nth-child(3) a {
  background-color: #ffeea7;
  border-radius: 5px;
  color: #006156;
  padding: 10px 40px;
}

.help_center a {
  list-style: none;
  padding: 10px 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
  color: #979aa5;
}

/* Card Container Styling */

div.main-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.virtual_card_container {
  padding-top: 30px;
}

div.card_heading {
  padding-bottom: 5px;
  border-bottom: 1px solid #eff2f7;
}

div.card_heading a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  color: #9da8b6;
}

div.card_subheading {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

div.heading {
  display: flex;
  justify-content: space-between;
}

div.heading div.image img {
  margin-right: 10px;
  padding: 8px;
  background: #def5f2;
  border-radius: 8px;
}

div.heading div.image-content h4 {
  color: #444854;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

div.heading div.image-content p {
  color: #9da8b6;
  font-size: 13px;
  line-height: 24px;
}

div.heading_btn a {
  background: #ffce00;
  padding: 10px 30px;
  text-decoration: none;
  color: #1d1e2c;
  font-size: 16px;
  line-height: 28px;
  border-radius: 8px;
}

div.virtual_cards_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.image1 img {
  width: 420px;
}

div.image2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.position_img {
  position: absolute;
  left: 40px;
}

div.position_img1 {
  position: absolute;
  right: 10px;
}

div.position_img2 {
  position: relative;
  left: -30px;
}

div.position_img2 img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

div.position_img2 img,
div.position_img img,
div.position_img1 img {
  width: 370px;
}

div.buttons {
  padding-left: 2.5rem;
}

div.buttons a:nth-child(1) {
  background: transparent;
  border: 1px solid #006156;
  box-sizing: border-box;
  border-radius: 8px;
  color: #006156;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  padding: 10px 30px;
  margin-right: 10px;
}

div.buttons a:nth-child(2) {
  background: transparent;
  border: 1px solid #cc4945;
  box-sizing: border-box;
  border-radius: 8px;
  color: #cc4945;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  padding: 10px 30px;
}

div.virtual_card_account {
  background: #f9fafc;
  border-radius: 24px;
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

div.account_flex {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

div.flex1 li,
div.flex2 li,
div.flex3 li {
  list-style: none;
  margin-top: 15px;
}

div.flex1 li {
  font-size: 13px;
  line-height: 28px;
  color: #9da8b6;
}

div.flex2 {
  margin-left: 40px;
}

div.flex2 li:nth-child(1) {
  color: #006156;
}

div.flex2 li:nth-child(4) {
  display: flex;
  align-items: center;
}

div.flex2 li {
  font-size: 13px;
  line-height: 28px;
  color: #575a65;
}

div.flex3 {
  margin-top: 15px;
}

div.flex3 a {
  text-decoration: none;
  border: 1px solid #006156;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  color: #006156;
  font-size: 14px;
  padding: 10px 20px;
}

/* Card Brand Styling */
div.card_brand_container {
  background: #f9fafc;
}

div.notification {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

div.notification ul {
  display: flex;
}

div.notification ul li {
  list-style: none;
  margin-right: 10px;
}

div.activity_card_container {
  background: #fff;
  border-radius: 24px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 87%;
}

div.activity_flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

div.activity-heading,
div.activity_date {
  padding: 10px;
}

div.activity-heading h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #9da8b6;
}

div.activity_date div.activity-img {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  color: #9da8b6;
}

div.brand1 {
  padding: 1rem;
}

div.brand1 ul {
  list-style: none;
}

div.brand1 ul li {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.activity_containter {
  display: flex;
  align-items: center;
}

div.activity_image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

div.activity_image#amazon {
  background-color: #fea202;
}

div.activity_image#nike {
  background-color: #1d1e2c;
}

div.activity_image#starbuck {
  background-color: #006156;
}

div.activity_image#netflix {
  background-color: #cc4945;
}

div.activity_image#apple {
  background-color: #eff2f7;
}

div.activity_image#starbuck1 {
  background-color: #006156;
}

div.activity_image#nike1 {
  background-color: #1d1e2c;
}

div.activity_image#apple1 {
  background-color: #2a69af;
}

div.text {
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9da8b6;
}

span.text-bold {
  font-size: 14px;
  line-height: 24px;
  color: #575a65;
}

span.text-light {
  font-size: 12px;
  line-height: 20px;
  color: #9da8b6;
}
